{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Dashboard{% endblock %}

{% block css %}
    <style type="text/css">
    .navbar {
        margin-bottom: 0px !important;
    }

    .timeline > li > .timeline-badge{
        left: 92% !important;
    }

    .timeline > li > .timeline-panel {
        width: 80% !important;
        float: none;
    }

    .timeline:before {
        left: 92% !important;
    }

    </style>
    <link href="{% static "css/timeline.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="row">

    <div class="col-md-4 dash-left">
     
        <div class="dash-container" style="background-color: rgb(230,230,230);">
            <h4>MY SUBMISSIONS<div class="dropdown pull-right">
    <button class="btn btn-primary btn-round dropdown-toggle" type="button" data-toggle="dropdown">&nbsp;&nbsp;&nbsp;Submit&nbsp;&nbsp;&nbsp;
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
        {% if submit_proposals %}
        <li><a href="{% url 'proposal_start' %}" class="hover-proposal">&nbsp;&nbsp;&nbsp;Proposal&nbsp;&nbsp;&nbsp;</a></li>
        {% endif %}
        {% if direct_submissions %}
        <li><a href="{% url 'submission_start' %}"class="hover-submission" >&nbsp;&nbsp;&nbsp;Submission&nbsp;&nbsp;&nbsp;</a></li>
        {% endif %}  
    </ul>
  </div></h4> 
  <br>
            {% for submission in user_submissions %}
                <div class="notification author">
                    <div class="row">
                        <div class="col-md-10">
                            <h5>{{ submission.full_title }}</h5>
                            <p class="small"><em>{% if submission.submission_date %}Submitted {{ submission.submission_date }}{% else %}In Progress{% endif %}</em></p>
                        </div>
                        <div class="col-md-2">
                            <h5><i class="fa fa-eye"></i></h5>
                        </div>
                    </div>
                    <div class="band {% if submission.stage.current_stage %}{{ submission.stage.current_stage }}{% else %}submission{% endif %}">
                        {% if submission.stage.current_stage %}
                        {{ submission.stage.get_current_stage_display }}
                        {% else %}
                        IN PROGRESS
                        {% endif %}
                    </div>
                    <div class="activity">
                        {% include "core/dashboard/activity.html" %}
                    </div>
                    {% if submission.stage %}
                    <a href="{% url 'status' submission.pk %}" class="btn btn-sm btn-primary btn-round  view pull-right" style="margin-right:10px;">View Submission</a>
                    {% else %}
                    <a href="/submission/book/{{ submission.id }}/stage/{{ submission.submission_stage }}/" class="btn btn-sm btn-primary btn-round  view pull-right" style="margin-right:10px;">Continue Submission</a>
                    {% endif %}
                    <br /><br />
                </div>
            {% endfor %}
            <h4> MY PROPOSALS </h4>
            {% if not user_proposals %}

                <div class="well">
            No completed proposals found.
            </div>
            {% endif %}
             {% for proposal in user_proposals %}
                <div class="notification author">
                    <div class="row">
                        <div class="col-md-10">
                            <h5>{{ proposal.title }}</h5>
                            <p class="small"><em>{% if proposal.date_submitted %}Submitted {{ proposal.date_submitted  }}{% endif %}</em></p>
                        </div>
                        <div class="col-md-2">
                            <h5><i class="fa fa-eye"></i></h5>
                        </div>
                    </div>

                    {% ifequal proposal.status 'accepted'%}
                      <div class="band submission proposal-accept ">
                    PROPOSAL - ACCEPTED
                    {% endifequal %}
                    {% ifequal proposal.status 'declined'%}
                      <div class="band submission proposal-declined ">
                    PROPOSAL - DECLINED
                    {% endifequal %}
                    {% ifequal proposal.status 'revisions_required'%}

                      <div class="band submission proposal-revision ">
                    PROPOSAL - REVISIONS
                    {% endifequal %}
                    {% ifequal proposal.status 'revisions_submitted'%}

                    <div class="band submission proposal-revision ">
                    PROPOSAL - REVISIONS
                    {% endifequal %}
                    {% ifequal proposal.status 'submission'%}

                    <div class="band submission proposal ">
                    PROPOSAL
                    {% endifequal %}

                    </div>
               
                    <br>
                    <a href="{% url 'proposal_view_submitted' proposal.pk %}" class="btn btn-sm btn-other  view pull-right" style="margin-right:10px;">View Proposal</a>
          
                    <br />
                    <br />
                </div>
                  {% endfor %}

                    <h4> INCOMPLETE PROPOSALS </h4>
               {% if not user_incomplete_proposals %}

                <div class="well">
            No incomplete proposals found.
            </div>
            {% endif %}
             {% for proposal in user_incomplete_proposals %}
                <div class="notification author">
                    <div class="row">
                        <div class="col-md-10">
                            <h5>{{ proposal.title }}</h5>
                            <p class="small"><em>{% if proposal.date_submitted %}Submitted {{ proposal.date_submitted  }}{% endif %}</em></p>
                        </div>
                        <div class="col-md-2">
                            <h5><i class="fa fa-eye"></i></h5>
                        </div>
                    </div>

                  

                    <div class="band submission proposal ">
                   INCOMPLETE PROPOSAL

                    </div>
               
                    <br>
                    <a href="{% url 'incomplete_proposal' proposal.pk %}" class="btn btn-sm btn-other  view pull-right" style="margin-right:10px;"> Continue Proposal</a>
          
                    <br />
                    <br />
                </div>
                  {% endfor %}
        </div>
          
    </div>

    <div class="col-md-6 dash-center">
        <div class="dash-container">
            {% if new_messages %}
            <h4>NEW MESSAGES</h4>
            {{ new_messages|length }} new messages since you last logged in.
            <hr />
            {% endif %}
            <h4>TO DO <sup><span class="badge" style="background-color:rgb(207,94,129);">{{author_task_number}}</span></sup></h4>
            <hr/>


            {% for note in author_tasks %}
            {% ifequal note.type 'proposal'%}
             <div class="notification">
                    <div class="row">
                     <div class="band" style="margin-left:10px;margin-right:10px">
               <h5><span class="author-note">Revisions</span> requested for proposal <span class="author-note">{{ note.proposal.title }}</span></h5>
                     <h5> <b>Revision Due</b> {% if note.overdue %} <b style="color:rgb(205,33,33)">Overdue ({{ note.proposal.revision_due_date }})</b>{%else%} <b style="color:rgb(187,123,73)">{{ note.proposal.revision_due_date }}</b>{% endif %}</h5>
                    </div>
                
                <br />
                       <a href="{% url 'proposal_revisions' note.proposal.id %}"  style="margin-right:25px; margin-bottom:8px;" class=" pull-right  btn btn-sm btn-task read">&nbsp;&nbsp;&nbsp;View Task&nbsp;&nbsp;&nbsp;</a>
</div>
                
                 
       </br>      
            </div>
            {% else %}
            <div class="notification">
                    <div class="row">
                     <div class="band" style="margin-left:10px;margin-right:10px">
               <h5><span class="author-note">{{ note.task }}</span> requested for <span class="author-note">{{ note.book.full_title }}</span></h5>
                 <h5><strong>{% if note.type == 'revisions' %}Task Due{% else %}Invited on{% endif %} <span class="author-due">{{ note.date }}</span></strong></h5>
                    </div>
                
                <br />
                       <a href="{{ note.url }}"  style="margin-right:25px; margin-bottom:8px;" class=" pull-right  btn btn-sm btn-task read">&nbsp;&nbsp;&nbsp;View Task&nbsp;&nbsp;&nbsp;</a>
                    <a href="{% url 'author_submission' note.book.pk %}"  style="margin-right:3px;margin-bottom:8px;" class=" pull-right  btn btn-sm btn-round btn-primary view">&nbsp;&nbsp;&nbsp;View Submission&nbsp;&nbsp;&nbsp;</a>
</div>
                
                 
       </br>      
            </div>
            {% endifequal %}
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}
