@font-face {
    font-family: Lato;
    src: url(/global-static/fonts/Lato-Regular.ttf);
}

* {
 font-family: Lato;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato' Helvetica;
}
p, div {
    font-family: 'Lato' Helvetica;
}
btn {
    font-family: 'Lato' Helvetica;
}
.navbar-inverse {
    background-color: #363636 !important;
    border-color: #363636 !important;
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
    border-right: 1px double #5b5b5b;
}
.navbar .container { min-height: 5em; }

nav > div > div.navbar-collapse.collapse > ul > li > a {
    min-height: 5em;
    padding-top: 25;
}

html, body {
  height: 100%;
}

@media (min-width: 1290px) {
    .container {
        width: 1290px;
    }
}

.alert {
  margin-bottom: 0px;
}

.message {
  min-height: 100px;
  border-style: solid;
  border-width: 1px;
  border-color: #B0B0B0;
  margin-bottom: 8px;
}

.message-new {
  box-shadow:0 0 1em #0000FF;
}

.message-green {
  background-color: #d5e5d5;
}

.selected-row-table{
  background-color:#DDDDDD;     
}
/* create an arrow that points right - source : http://html-tuts.com/css-arrows-up-down-left-right-triangle/; */
.selected-row-table-arrow {
  display: inline-block;
  position: relative;
  background: #DDDDDD;
  padding: 15px;
}
.selected-row-table-arrow:after {
  content: ' ';
  display: block;  
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #DDDDDD;
}
.message-container {
  padding: 10px;
}
.message-container h3 {
  color:#2a2a2a;
  font-size: 18px;
}

.message-user {
  background-color: rgb(174, 175, 179);
  margin-left: px;
}

.message-date {
  text-align: right;
}

.odd {
  background-color: rgb(225, 225, 225);
}

.even {
  background-color: #FFFFFF !important;
}

.dash-container {
  padding: 10px;
}
.download-small{
  margin-top: 20px;
  margin-right:25px;
  border-radius:8px

}
.submission-accept{
  font-size:22px;
  color:#74C91F;
  margin-left:-10px;
}
.submission-reject{
  font-size:22px;
  color:#C6001E;
  margin-left:-10px;
}
.submission-revisions{
  font-size:22px;
  color:#E9C730;
  margin-left:-10px;
}
.dash-left {
  padding: 0;
  height: 90% !important;
  border-right: 1px double #c7c7c7;
  border-left: 1px double #c7c7c7;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #EBEBEB;
}

.dash-left a {
  text-decoration: none;
}
.grey-container{
  background-color: rgb(230,230,230);
}
.dash-right {
  padding: 0;
  height: 90% !important;
  border-left: 1px double #c7c7c7;
  border-right: 1px double #c7c7c7;
  overflow-y: auto;
  overflow-x: hidden;
}

.dash-center {
  padding: 0;
  height: 90% !important;
  overflow-y: auto;
  overflow-x: hidden;
}

.project {
  background-color: #F1F4F4;
  min-height: 100px;
  border-top: 1px double #c7c7c7;
}

.project a {
  text-decoration: none;
  color: #333;
}

.project:hover {
  background-color: rgb(201, 215, 213);
}

.project h5, p {
  margin: 0;
  padding: 10 0 10 10;
}

.project .pull-right {
  padding-right: 10px;
}

.project-header {
  background-color: #B5B5B5;
}

.circle {
    background: #D6897D;
}

.author-due {
  color: rgb(186, 65, 90);
}

.author-note {
  color: rgb(110, 125, 139);
}

.dash-menu {
  width: 100%;
  height: 55px;
  border-top: 1px double #c7c7c7;
  background-color: rgb(230,230,230);
  padding-left: 10px;
  padding-top: 10px;
}

.manuscript-upload-states {
  padding-left: 0px;
}

.upload-modal {
  top: 15%;
}

.recommendation {
  background-color:rgb(159,197,88);
  color: white;
  padding: 5 5 5 5;
  margin-left: 10px;
}

.declined {
  background-color:rgb(171, 30, 59);
  color: white;
  padding: 5 5 5 5;
  margin-left: 10px;
}

.no-recommendation {
  background-color:rgb(181, 181, 181);
  color: white;
  padding: 5 5 5 5;
  margin-left: 10px;
}

.image-upload-states li, .manuscript-upload-states li, .files-list li, .image-files-list li {
    list-style: none;
    white-space: nowrap;
    padding: 0.3125rem 0.3125rem;
    background: #f6f6f6;
    border: 1px solid #dddddd;
    border-radius: 0.375rem;
    margin-bottom: 0.3125rem;
    position: relative;
}

body > div.container > div > div.col-md-4.dash-right > div > ul > li > div > div.col-md-2 > h1 {
  padding-left: 10px;
  margin-top: 13px;
}

#wrap > div > div > div > div > div.panel.panel-default > div.panel-heading.clearfix.even {
  border-bottom: 1px solid rgb(242, 212, 125);
}

body > div.container-fluid > div > div > div > a {
  color: #000;
  text-decoration: none;
}

.manuscript-upload-states .icon-block,  label {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.fa-chevron-right {
  padding-right: 10px;
}

.dash-menu:hover {
  background-color: #CCCCCC;
}

.book-heading {
  background-color: rgb(196, 183, 140);
  color: #FFF;

}
.other-heading {
  background-color: #5832C9;
  color: #FFF;
  margin-bottom:5px;
}
.other-heading-btn {
  background-color: #5832C9;
  color: #FFF;
  margin-bottom:5px;
}
.other-heading-btn:hover, .other-heading-btn:focus, .other-heading-btn:active, .other-heading-btn.active, .open > .dropdown-toggle.other-heading-btn  {
    background: #5E2AFA;
    color:#ffffff;
}
.other-heading-btn:active, .other-heading-btn.active {
    background: #3C1F93;
    color:#ffffff;
    box-shadow: none;
} 
.other-sub-heading {
  background-color: #432892;
  color: #FFF;
  margin-bottom:5px;
}
.blank-heading {
  background-color: transparent;
  color: #000;
  margin-bottom:5px;
}
.file-heading {
  background-color: #00A6A1;
  color: #FFF;
  margin-bottom:5px;
}
.review-heading {
  background-color: #30B1A4;
  color: #FFF;
   margin-bottom:5px;
}
.review-sub-heading {
  background-color: #52C6BB;
  color: #FFF;
   margin-bottom:-5px;
}
.review-sub-heading-2 {
  background-color: #5BDBCE;
  color: #FFF;
   margin-bottom:-5px;
}

.border-profile {
  border-bottom: 16px #E3596C solid
}
.border-note {
  border-bottom: 8px #80b2ff solid
}

.border-primary-author {
  border-bottom: 12px #AB9F44 solid
}
.border-review {
  border-bottom: 15px #D1EAE7 solid
}
.review-sub-heading-2-margin {
  background-color: #5BDBCE;
  color: #FFF;
   margin-bottom:15px; 
}
.primary-heading {
  background-color: #337ab7;
  color: #FFF;
  margin-bottom:5px;
}
.primary-heading-2 {
  background-color: #1B6EB6;
  color: #FFF;
  margin-bottom:5px;
}
.success-heading {
  background-color: #5cb85c;
  color: #FFF;
  margin-bottom:5px;
}
.success-heading-2 {
  background-color: #31B231;
  color: #FFF;
  margin-bottom:5px;
}
.warning-heading {
  background-color: #f0ad4e;
  color: #FFF;
  margin-bottom:5px;
}
.warning-heading-2 {
  background-color: #E18607;
  color: #FFF;
  margin-bottom:5px;
}
.danger-heading {
  background-color: #d9534f;
  color: #FFF;
  margin-bottom:5px;
}
.danger-heading-2 {
  background-color: #D01D17;
  color: #FFF;
  margin-bottom:5px;
}
.file-sub-heading {
  background-color: #558381;
  color: #FFF;
  margin-bottom:5px;
}
.profile-heading {
  background-color: #DC5466;
  color: #FFF;
  margin-bottom:5px;
  border-left: 6px solid  #E3596C;

      -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.file-sub-heading-grey {
  background-color: #AEAEAE;
  color: #FFF;
  margin-bottom:5px;
}
.file-sub-heading-accept {
  background-color: rgb(159, 197, 88);
  color: #FFF;
  margin-bottom:5px;
}
.file-sub-heading-versions{
  background-color: rgb(196, 183, 140) !important;
    color: #FFF;
  margin-bottom:5px;
}
.file-icon-large{
  font-size:70px !important
}
.file-icon-medium{
  font-size:50px !important
}
.btn-file-download{
  width: 120px !important; 
  margin-left:24px !important;
}
.btn-file-version-download{
  width: 120px !important; 
  margin-left:30px !important;
}
.btn-upload{
  background-color:#00A6A1 !important;
  color:#ffffff;
  border-color:#8DD8D6 !important;
  border-radius: 24px;
}
 
.btn-upload:hover, .btn-upload:focus, .btn-upload:active, .btn-upload.active, .open > .dropdown-toggle.btn-upload {
    background: #00D7D0 !important;
    color:#ffffff;
}
 
.btn-upload:active, .btn-upload.active {
    background: #055956 !important;
    color:#ffffff;
    box-shadow: none;
}
.btn-browse{
  border-radius: -4px !important;
}

.book-heading h3 {
  margin-top: 10px !important;
}
.subtitle-text{
  color:rgb(101,117,132);
}
.subtitle-form-text{
 margin-left:-10px;
 margin-top:-5px;
 color:rgb(100,100,100)
}
.subtitle-form-completed-text{
 color:rgb(100,100,100)
}
.header-text{
  color:rgb(106,106,106);
}
.task-info-text{
  margin-left:-10px;
  margin-top:-30px
}
.task-left-text{
  background-color:rgb(193,193,193);
  color:rgb(99,99,99);
}
.btn-contact{
  font-size: 14px !important;
  border-radius:8px !important
}
.book-info{
  color:rgb(106,106,106);
  margin-left:10px;
}
.decision-info-undecided{
  background-color:rgb(156,156,156);
  color:white;
  font-size:14px;
}
.decision-info-accept{
  background-color:rgb(159,197,88);
  color:white;
  font-size:14px;
}
.submission {
  background-color: rgb(233, 181, 69);
  width: 130px;
  text-align: right;
  color: white;
  padding: 0;
  text-transform: uppercase;
}
.in_progress {
  background-color: rgb(180, 180, 180);
  width: 130px;
  text-align: right;
  color: white;
  padding: 0;
  text-transform: uppercase;
}
.review {
  background-color: rgb(233, 181, 69);
  width: 130px;
  text-align: right;
  color: white;
  padding: 0;
  text-transform: uppercase;
}

.revisions {
  background-color: rgb(208, 223, 68);
  width: 130px;
  text-align: right;
  color: white;
  padding: 0;
  text-transform: uppercase;
}
.editing {
  background-color: rgb(170, 196, 61);
  width: 130px;
  text-align: right;
  color: white;
  padding: 0;
  text-transform: uppercase;
}

.band-decline {
  background-color:#cc0000!important;
  color:white;
  font-size:10px;
  padding:2 2 2 10;
  margin-bottom: 10px;
}
.band-revision {
  background-color:#cc0000!important;
  color:white;
  font-size:10px;
  padding:2 2 2 10;
  margin-bottom: 10px;
}
.decision-proposal-decline {
  background-color: 
  width: 130px;
  text-align: right;
  color: white;
  padding: 0;
  text-transform: uppercase;
}

.decision-proposal-revision {
  background-color: #ffcc00!important;
  width: 130px;
  text-align: right;
  color: white;
  padding: 0;
  text-transform: uppercase;
}

.production {
  background-color: rgb(123, 195, 61);
  width: 130px;
  text-align: right;
  color: white;
  padding: 0;
  text-transform: uppercase;
}

.published {
  background-color: #155D00;
  width: 130px;
  text-align: right;
  color: white;
  padding: 0;
  text-transform: uppercase;
}

.notification {
  min-height: 130px;
  border: 1px double #E4E4E4;
  margin-bottom: 10px;
  background-color: white;
}

.notification h5, p {
  margin: 0;
  padding: 10 0 10 10;
}
.notification>.status{
  bottom: 0px;
  margin-top: 30px;
  width: 100%;
  padding-left: 15px;
  position: relative; 
}
.notification >.accepted {
  background-color:#A7CF00;
  color:white;
}
.notification >.new {
  background-color:grey;
  color:white;
}

.notification >.assigned {
  color:grey;
}

.author {
  background-color: #FFF;
}

.band {
  width: 100%;
  text-align: left;
  font-size: 1.5em;
  padding: 5 5 5 10;
}
.band-new {
  background-color:rgb(156,156,156);
  color:white;
  font-size:10px;
  padding:2 2 2 10;
  margin-bottom: 10px;
}

.band-accepted {
  background-color:rgb(159,197,88);
  color:white;
  font-size:10px;
  padding:2 2 2 10;
  margin-bottom: 10px;
}
.border-proposal-accept-xs {
  border-bottom: 6px rgb(159,197,88) solid;
  margin-bottom: 10px;
  margin-top: -4px;
  width:100%;
}
.border-proposal-decline-xs {
  border-bottom: 6px #cc0000 solid;
  margin-bottom: 10px;
  margin-top: -4px;
  width:100%;
}
.proposal-accept {
  background-color:#09aa09  !important;
}
.proposal-declined {
  background-color:#cc0000 !important;
}
.proposal-revision {
  background-color:#f2c40d !important;
}
.band-no-recommendation {
  background-color:rgb(181, 181, 181);
  color:white;
  font-size:10px;
  padding:2 2 2 10;
  margin-bottom: 10px;
}
.activity {
  padding: 5 5 5 10;
}

.btn-action {
  width: 90px;
}
.versions-badge{
  background-color: rgb(196, 183, 140) !important;
}
.btn-view{
  background-color: rgb(196, 183, 140);
  border-color: rgb(196, 183, 140);
  color:#ffffff;
  border-radius: 8px;
}
 
.btn-view:hover, .btn-view:focus, .btn-view:active, .btn-view.active, .open > .dropdown-toggle.btn-view {
    background: #D7CDAC;
    color:#ffffff;
}
 
.btn-view:active, .btn-view.active {
    background: #A69A72;
    color:#ffffff;
    box-shadow: none;
}

.btn-accept {
  background-color:rgb(159, 197, 88);
  color:#ffffff;
  border-color:rgb(190,217,140);
  border-radius: 12px;
}

.btn-back {
  background-color:transparent;
  color:#ffffff;
  border-color:rgba(255,255,255,0.3);
  border-radius: 12px;
  margin-bottom: 10px;
}

.btn-back:hover, .btn-back:focus, .btn-back:active, .btn-back.active, .open > .dropdown-toggle.btn-back {
    background-color: rgba(255,255,255,0.3);;
    color:white;
}
 .btn-back:active, .btn-back.active {
    color:#ffffff;
    background-color: rgba(0,0,0,0.3);
    border-color:rgba(0,0,0,0.3);
    box-shadow: none;
}
.btn-accept:hover, .btn-accept:focus, .btn-accept:active, .btn-accept.active, .open > .dropdown-toggle.btn-accept {
    background: #AAE440;
    color:#ffffff;
}
 
.btn-accept:active, .btn-accept.active {
    background: #96D919;
    color:#ffffff;
    box-shadow: none;
}

.btn-proposal-header {
    margin-top: -30px!important;
    margin-left:5px!important;
    height:28px!important;
}
.btn-proposal-text {
    top:-11px!important;
    position: relative;
}
.btn-proposal-header-2 {
    height:28px!important;
    top:60px!important;
    position: absolute!important;
}


.btn-proposal-header-nomargin {
    height:28px!important;
}

.input-group-email-field{
  margin-bottom: 5px
}

 .btn-round{
  border-radius: 24px !important;
 }
  .btn-round-half{
  border-radius: 12px !important;
 }
 .btn-round-third{
  border-radius: 8px !important;
 }
 .btn-round-quarter{
  border-radius: 6px !important;
 }
   .btn-round-sm{
  border-radius: 4px !important;
 }
  .btn-round-xs{
  border-radius: 2px !important;
 }
.btn-decline{
  background-color:rgb(171, 30, 59);
  color:#ffffff;
  border-color:rgb(231,188,197);
  border-radius: 12px;
 
}

.btn-decline:hover, .btn-decline:focus, .btn-decline:active, .btn-decline.active, .open > .dropdown-toggle.btn-decline {
    background: #E43A5C;
    color:#ffffff;
}
 
.btn-decline:active, .btn-decline.active {
    background: #E7113C;
    color:#ffffff;
    box-shadow: none;
}
.btn-read{
  background-color:rgb(68, 86, 104);
  color:#ffffff;
  border-color:rgb(138,149,160);
  border-radius: 8px;
}
 
.btn-read:hover, .btn-read:focus, .btn-read:active, .btn-read.active, .open > .dropdown-toggle.btn-read {
    background: #517476;
    color:#ffffff;
}
 
.btn-read:active, .btn-read.active {
    background: #2D5355;
    color:#ffffff;
    box-shadow: none;
}

.btn-other{
  background-color:#29039C;
  color:#ffffff;
  border-color:#B6A3EE;
  border-radius: 24px;
}
 
.btn-other:hover, .btn-other:focus, .btn-other:active, .btn-other.active, .open > .dropdown-toggle.btn-other {
    background: #5E2AFA;
    color:#ffffff;
}

.btn-other:active, .btn-other.active {
    background: #13004C;
    color:#ffffff;
    box-shadow: none;
}

.btn-review{
  background-color:#EEAD23;
  color:#ffffff;
  border-color:#EEAD28;
  border-radius: 24px;
}

.btn-review:hover, .btn-review:focus, .btn-review:active, .btn-review.active, .open > .dropdown-toggle.btn-review {
    background: #FFAF00;
    color:#ffffff;
}

.btn-review:active, .btn-review.active {
    background: #D7980E;
    color:#ffffff;
    box-shadow: none;
}
.label-task-table{
  background-color:#77A7A5 !important;
  color:#ffffff  !important;
}
.label-task-table-2{
  background-color:#A0A9A9 !important;
  color:#ffffff  !important;
}
.label-task{
  background-color:#558381 !important;
  color:#ffffff  !important;
}

.btn-green{
  background-color:#198683;
  color:#ffffff;
  border-color:#2B9B97;
  border-radius: 24px;
}
 
.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active, .open > .dropdown-toggle.btn-green {
    background: #2CB2AD;
    color:#ffffff;
}
 
.btn-green:active, .btn-green.active {
    background: #057572;
    color:#ffffff;
    box-shadow: none;
}

.btn-task{
  background-color:rgb(68, 86, 104);
  color:#ffffff;
  border-color:rgb(138,149,160);
  border-radius: 24px;
}
 
.btn-task:hover, .btn-task:focus, .btn-task:active, .btn-task.active, .open > .dropdown-toggle.btn-task {
    background: #517476;
    color:#ffffff;
}
 
.btn-task:active, .btn-task.active {
    background: #2D5355;
    color:#ffffff;
    box-shadow: none;
}
.btn-transparent-white{
  background-color: transparent;
  color:#ffffff;
  border-radius: 24px;
  border-color: rgba(255,255,255,0.4);
}
 
.btn-transparent-white:hover, .btn-transparent-white:focus, .btn-transparent-white:active, .btn-transparent-white.active, .open > .dropdown-toggle.btn-transparent-white {
  color:#ffffff;
   background:rgba(255,255,255,0.3);
  border-color:white;
}
 
.btn-transparent-white:active, .btn-transparent-white.active {
    color:#000000;
     border-color:white;
}

.timeline-dash {
  list-style: none;
}

  .timeline-dash  > li {
    overflow: hidden;
    margin-top:-15px;
    margin-bottom:-10px;
    position: relative;
  }
  .timeline-dash-date {
    width: 90px;
    float: left;
    margin-top: 10px;
    padding-top:15px;
  }
  .timeline-content-dash-closed {
    width: 50%;
    float: left;
    border-left: 4px #e5e5d1 solid;
    padding-left: 30px;
    margin-left: 40px;
    padding-top:5px;
    margin-top: 13.8px;
  }
  .timeline-content-dash-open {
    width: 50%;
    float: left;
    border-left: 4px #e5e5d1 solid;
    padding-left: 30px;
    margin-left: 130px;
    margin-top:-8.5px;  }
    .timeline-content-dash-open:before {
    content: '';
    width: 16px;
    height: 16px;
     margin-top: 12px;
    border: 2px solid rgb(159, 197, 88) ; 
    background: white;
    position: absolute;
    left: 125px;
    top: 10px;
    border-radius: 100%;
  }
  .timeline-content-dash-closed:before {
    content: '';
    width: 15px;
    height: 15px;
    background: rgb(159, 197, 88);
    position: absolute;
    left: 125px;
    top: 24px;
     margin-top: 5px;
    border-radius: 100%;
  }
    .timeline-content-dash-declined {
    width: 50%;
    float: left;
    border-left: 4px #e5e5d1 solid;
    padding-left: 30px;
    margin-left: 40px;
    padding-top:5px;
    margin-top: 13.8px;
  }
  .timeline-content-dash-declined:before {
    content: '';
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    left: 125px;
    top: 24px;
     margin-top: 5px;
    border-radius: 100%;
  }
  .timeline-content-dash-overdue {
    width: 50%;
    float: left;
    border-left: 4px #e5e5d1 solid;
    padding-left: 30px;
    margin-left: 40px;
    padding-top:5px;
    margin-top: 13.8px;
  }
  .timeline-content-dash-overdue:before {
    content: '';
    width: 15px;
    height: 15px;
    background: orange;
    position: absolute;
    left: 125px;
    top: 24px;
     margin-top: 5px;
    border-radius: 100%;
  }

.read {
  background-color: rgb(69, 86, 104);
  border-color: rgb(69, 86, 104);
}

.button-block-center {
  text-align: center;
  padding-bottom: 10px;
}

.button-block-center hr {
  margin-top: 0;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-production {
    border-left-color: #777;
}
.bs-callout-production h4 {
    color: #777;
}
.bs-callout-submission {
    border-left-color: #428bca;
}
.bs-callout-submission h4 {
    color: #428bca;
}
.bs-callout-review {
    border-left-color: #5cb85c;
}
.bs-callout-review h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-editing {
    border-left-color: #f0ad4e;
}
.bs-callout-editing h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
.bs-callout-profile {
    border-left-color: #DB5264;
}
.bs-callout-profile h4 {
    color: #AD2234;
}
.bs-callout-website {
    border-left-color: #0099ff;
}
.bs-callout-website h4 {
    color: #0099ff;
}
.bs-callout-profile-2 {
    border-left-color: #E99300;
}
.bs-callout-profile-2 h4 {
    color: #E99300;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-social {
    color: white;
    opacity: 0.8;
}

.btn-social:hover {
    color: white;
    opacity: 1;
    text-decoration: none;
}

.btn-facebook {
    background-color: #3b5998;
}

.btn-twitter {
    background-color: #00aced;
}

.btn-linkedin {
    background-color: #0e76a8;
}

.btn-google {
    background-color: #c32f10;
}

.btn-impact {
    background-color: #ff4000;
}

.btn-github {
    background-color: #333333;
}

.btn-orcid {
    background-color: #A7CF00;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

/* CSS for dealing with accordion buttons */
button.accordion {
    background-color: #F2F2F2;
    color: #444;
    margin-left: 15px;
    cursor: pointer;
    padding-left: 3px;
    width: 93.25%;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #E6E6E6;
    outline: none;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

div.review-panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.review-panel.show {
    display: block !important;
    opacity: 1;
    max-height: 500px; /* Change according to screen size */
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* End of accordion CSS */

/* Styles go here */

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  overflow: auto;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Add margin to content to allow room for footer*/
.content {
  margin-bottom: 35px;
}

/* Set the fixed height of the footer here */
.footer {
  margin-top: 10px;
  padding-top: 5px;
  height: 50px;
  background-color: #f5f5f5;
}

.footer-fixed {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 999;
    border-top: 1px solid #000;
}

p.footer {
    font-size: 14px !important;
    font-weight:600 !important;
}

.author_header {
  margin-bottom: 0;
}

.modal-dialog {
  width: 950px;
  margin: 20px auto;
}

.inline-headers h2, .inline-headers h4 {
  display: inline-block;
  vertical-align: baseline;
}

iframe {
  border: 0px !important;
}

.orcid-login {
    background: #A7CC46 url("/static/images/orcid.png");
    background-size: auto 100%;
    background-position: left center;
    background-repeat: no-repeat;
    width: 100%;
    height: 3.125rem;
    line-height: 3.125rem;
    padding: 0 2.1875rem;
    font-size: 1.3125rem;
    font-weight: 600;
    color: #ffffff;
    min-width: 150px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    color: #ffffff !important;
    border-radius: 0.375rem;
}

.tab-p {
    margin: 10 10 0 10;
}

#dashboard-grid .col-md-4:nth-child(4) {
    clear: left;
}

#dashboard-grid .col-md-4:nth-child(7) {
    clear: left;
}

.current {
  pointer-events: none;
  cursor: default;
  background-color:white;
}

.jqte {
  margin: 0 0;
}

.current-version {
  width: 50%;
  margin: 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: #B0B0B0 ;
}

.list-group-item-other {
  color: #6B589F;
  background-color: #D9CDFA;
}
a.list-group-item-other,
button.list-group-item-other {
  color: #6B589F;
}
a.list-group-item-other .list-group-item-heading,
button.list-group-item-other .list-group-item-heading {
  color: inherit;
}
a.list-group-item-other:hover,
button.list-group-item-other:hover,
a.list-group-item-other:focus,
button.list-group-item-other:focus {
  color: #6B589F;
  background-color: #BEA8F9;
}
a.list-group-item-other.active,
button.list-group-item-other.active,
a.list-group-item-other.active:hover,
button.list-group-item-other.active:hover,
a.list-group-item-other.active:focus,
button.list-group-item-other.active:focus {
  color: #fff;
  background-color: #441BB3;
  border-color: #3B179E;
}

.list-group-item-primary {
  color: #4D6A84;
  background-color: #D1E8FB;
}
a.list-group-item-primary,
button.list-group-item-primary {
  color: #4D6A84;
}
a.list-group-item-primary .list-group-item-heading,
button.list-group-item-primary .list-group-item-heading {
  color: inherit;
}
a.list-group-item-primary:hover,
button.list-group-item-primary:hover,
a.list-group-item-primary:focus,
button.list-group-item-primary:focus {
  color: #4D6A84;
  background-color: #B0D8F8;
}
a.list-group-item-primary.active,
button.list-group-item-primary.active,
a.list-group-item-primary.active:hover,
button.list-group-item-primary.active:hover,
a.list-group-item-primary.active:focus,
button.list-group-item-primary.active:focus {
  color: #fff;
  background-color: #1168B0;
  border-color: #0E62A8;
}
.list-group-item-file {
  color: #447774;
  background-color: #CBF2F0;
}
a.list-group-item-file,
button.list-group-item-file {
  color: #447774;
}
a.list-group-item-file .list-group-item-heading,
button.list-group-item-file .list-group-item-heading {
  color: inherit;
}
a.list-group-item-file:hover,
button.list-group-item-file:hover,
a.list-group-item-file:focus,
button.list-group-item-file:focus {
  color: #447774;
  background-color: #A7DBD8;
}
a.list-group-item-file.active,
button.list-group-item-file.active,
a.list-group-item-file.active:hover,
button.list-group-item-file.active:hover,
a.list-group-item-file.active:focus,
button.list-group-item-file.active:focus {
  color: #fff;
  background-color: #149690;
  border-color: #128983;
}
    .hover-proposal:focus, 
    .hover-proposal:hover{
      background-color:#5E2AFA   !important;
      color:white !important;
    }
    .hover-dropdown:focus, 
    .hover-dropdown:hover{
      background-color:#9a9a9a  !important;
      color:white !important;
    }
    .hover-proposal:active{
      background-color:#7c50ff   !important;
      color:white !important;
    }
    .hover-submission:focus, 
    .hover-submission:hover{
      background-color:rgb(233, 181, 69) !important;
      color:white !important;
    }
     .hover-submission:active{
      background-color:#D19F33 !important;
      color:white !important;
    }

    .hover-green:focus, 
    .hover-green:hover{
      background-color:#239B56 !important;
      color:white !important;
    }
     .hover-green:active{
      background-color:#1ec364 !important;
      color:white !important;
    }

    .hover-primary:focus, 
    .hover-primary:hover{
      background-color:#337ab7 !important;
      color:white !important;
    }
    .hover-nav:focus, 
    .hover-nav:hover{
      background-color:black!important;
      color:white !important;
    }
    .hover-nav:active{
      background-color:#4F4F4F!important;
      color:white !important;
    }
    .hover-file:focus, 
    .hover-file:hover{
      background-color:#2CB2AD!important;
      color:white !important;
    }
    .hover-file:active{
      background-color:#057572!important;
      color:white !important;
    }
.proposal {
  background-color:#7c50ff !important;
}

.border-overview-production {
  border-bottom: 12px rgb(123, 195, 61) solid;
  -webkit-box-shadow: 0px 7px 5px 1px rgba(232,232,232,1);
-moz-box-shadow: 0px 7px 5px 1px rgba(232,232,232,1);
box-shadow: 0px 7px 5px 1px rgba(232,232,232,1);
}
.border-overview-submission {
  border-bottom: 12px rgb(233, 181, 69) solid;
  -webkit-box-shadow: 0px 7px 5px 1px rgba(232,232,232,1);
-moz-box-shadow: 0px 7px 5px 1px rgba(232,232,232,1);
box-shadow: 0px 7px 5px 1px rgba(232,232,232,1);
}
.border-overview-review {
  border-bottom: 12px rgb(233, 181, 69) solid;
  -webkit-box-shadow: 0px 7px 5px 1px rgba(232,232,232,1);
-moz-box-shadow: 0px 7px 5px 1px rgba(232,232,232,1);
box-shadow: 0px 7px 5px 1px rgba(232,232,232,1);
}
.border-overview-editing {
  border-bottom: 12px rgb(170, 196, 61) solid;
  -webkit-box-shadow: 0px 7px 5px 1px rgba(232,232,232,1);
-moz-box-shadow: 0px 7px 5px 1px rgba(232,232,232,1);
box-shadow: 0px 7px 5px 1px rgba(232,232,232,1);
}
.border-overview-production-xs {
  border-bottom: 5px rgb(123, 195, 61) solid;
  margin-bottom: 15px;
}
.border-overview-submission-xs {
  border-bottom: 5px rgb(233, 181, 69) solid;
  margin-bottom: 15px;
}
.border-overview-review-xs {
  border-bottom: 5px rgb(233, 181, 69) solid;
  margin-bottom: 15px;
}
.border-overview-editing-xs {
  border-bottom: 5px rgb(170, 196, 61) solid;
  margin-bottom: 15px;
}
.border-overview-proposal {
  border-bottom: 12px #6325FF solid;
  -webkit-box-shadow: 0px 7px 5px 1px rgba(232,232,232,1);
-moz-box-shadow: 0px 7px 5px 1px rgba(232,232,232,1);
box-shadow: 0px 7px 5px 1px rgba(232,232,232,1);
}
.border-overview-proposal-xs {
  border-bottom: 5px #6325FF solid;
  margin-bottom: 15px;
}
.border-overview-proposal-accepted {
  border-bottom: 12px #2F56CA solid;
  -webkit-box-shadow: 0px 7px 5px 1px rgba(232,232,232,1);
-moz-box-shadow: 0px 7px 5px 1px rgba(232,232,232,1);
box-shadow: 0px 7px 5px 1px rgba(232,232,232,1);
}
.border-overview-proposal-accepted-xs {
  border-bottom: 5px #2F56CA solid;
  margin-bottom: 15px;
}
.border-overview-proposal-declined {
  border-bottom: 12px #E62828 solid;
  -webkit-box-shadow: 0px 7px 5px 1px rgba(232,232,232,1);
-moz-box-shadow: 0px 7px 5px 1px rgba(232,232,232,1);
box-shadow: 0px 7px 5px 1px rgba(232,232,232,1);
}
.border-overview-proposal-declined-xs {
  border-bottom: 5px #E62828 solid;
  margin-bottom: 15px;
}
.container-shadow-bottom{
  -webkit-box-shadow: 0px 7px 5px 1px rgba(236,236,236,1);
-moz-box-shadow: 0px 7px 5px 1px rgba(236,236,236,1);
box-shadow: 0px 7px 5px 1px rgba(236,236,236,1);
}
.border-review-submission-xs {
  border-bottom: 4px #EEAD23 solid;
  margin-bottom: 10px;
  margin-top: -4px;
  margin-left:-12.5px;
  width:100%;
}
.border-review-submission-long {
  border-bottom: 4px #EEAD23 solid;
  margin-bottom: 10px;
  margin-top: -4px;
  margin-left: 10px;
  width: 92.5%;
}
.border-review-proposal-xs {
  border-bottom: 4px #6F12D2 solid;
  margin-bottom: 10px;
  margin-top: -4px;
  margin-left:-12.5px;
  width:100%;
}
.border-review-proposal-long {
  border-bottom: 4px #6F12D2 solid;
  margin-bottom: 10px;
  margin-top: -4px;
  margin-left: 10px;
  width: 92.5%;
}
.border-review-editing-xs {
  border-bottom: 4px #B9DE24 solid;
  margin-bottom: 10px;
  margin-top: -4px;
  margin-left:-12.5px;
  width:100%;
}
.border-review-production-xs {
  border-bottom: 4px #3EC61D solid;
  margin-bottom: 10px;
  margin-top: -4px;
  margin-left:-12.5px;
  width:100%;
}
.border-well{
  border-bottom: 12px #E5E5E5 solid;
}
.border-well-xs{
  border-bottom: 5px #E5E5E5 solid;
  margin-bottom: 15px;
}
.email-badge-proposal{
  background-color:#7c50ff!important
}

.email-border-proposal{
  border-bottom: 8px #7c50ff solid;
  margin-bottom: -7px;
  margin-top: 35px;
  margin-left:-15.5px;
  width:106%;
}

.email-badge-general{
  background-color:#7FDBDE!important
}

.email-border-general{
  border-bottom: 8px #7FDBDE solid;
  margin-bottom: -7px;
  margin-top: 35px;
  margin-left:-15.5px;
  width:106%;
}

.email-badge-review{
  background-color:rgb(233, 181, 69)!important
}

.email-border-review{
  border-bottom: 8px rgb(233, 181, 69) solid;
  margin-bottom: -7px;
  margin-top: 35px;
  margin-left:-15.5px;
  width:106%;
}

.email-badge-submission{
  background-color:rgb(233, 181, 69)!important
}

.email-border-submission{
  border-bottom: 8px rgb(233, 181, 69) solid;
  margin-bottom: -7px;
  margin-top: 35px;
  margin-left:-15.5px;
  width:106%;
}

.email-badge-copyedit{
  background-color:rgb(170, 196, 61)!important
}

.email-border-copyedit{
  border-bottom: 8px rgb(170, 196, 61) solid;
  margin-bottom: -7px;
  margin-top: 35px;
  margin-left:-15.5px;
  width:106%;
}

.email-badge-index{
  background-color:rgb(170, 196, 61)!important
}

.email-border-index{
  border-bottom: 8px rgb(170, 196, 61) solid;
  margin-bottom: -7px;
  margin-top: 35px;
  margin-left:-15.5px;
  width:106%;
}

.email-badge-typeset{
  background-color:rgb(123, 195, 61)!important
}

.email-border-typeset{
  border-bottom: 8px rgb(123, 195, 61) solid;
  margin-bottom: -7px;
  margin-top: 35px;
  margin-left:-15.5px;
  width:106%;
}

.email-badge-revisions{
  background-color:#9BF12E!important
}

.email-border-revisions{
  border-bottom: 8px #9BF12E solid;
  margin-bottom: -7px;
  margin-top: 35px;
  margin-left:-15.5px;
  width:106%;
}

.email-badge-production{
  background-color:rgb(123, 195, 61)!important
}

.email-border-production{
  border-bottom: 8px rgb(123, 195, 61) solid;
  margin-bottom: -7px;
  margin-top: 35px;
  margin-left:-15.5px;
  width:106%;
}

.email-badge-editing{
  background-color:rgb(170, 196, 61)!important
}

.email-border-editing{
  border-bottom: 8px rgb(170, 196, 61) solid;
  margin-bottom: -7px;
  margin-top: 35px;
  margin-left:-15.5px;
  width:106%;
}

.email-badge-file{
  background-color:#33F387!important
}

.email-border-file{
  border-bottom: 8px #33F387 solid;
  margin-bottom: -7px;
  margin-top: 35px;
  margin-left:-15.5px;
  width:106%;
}

.email-badge-workflow{
  background-color:#F34A4A!important
}

.email-border-workflow{
  border-bottom: 8px #F34A4A solid;
  margin-bottom: -7px;
  margin-top: 35px;
  margin-left:-15.5px;
  width:106%;
}

.email-badge-proposal_review{
  background-color:#CF4AF3!important
}

.email-border-proposal_review{
  border-bottom: 8px #CF4AF3 solid;
  margin-bottom: -7px;
  margin-top: 35px;
  margin-left:-15.5px;
  width:106%;
}

.email-badge-reminder{
  background-color:#477EEC!important
}

.email-border-reminder{
  border-bottom: 8px #477EEC solid;
  margin-bottom: -7px;
  margin-top: 35px;
  margin-left:-15.5px;
  width:106%;
}

/*Review Assignment Box Overrides*/
.review-assignment {
    border-radius: 5px;
    border-style: 1px solid gray;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.editorial-review-assignment {
    border-style: 1px solid gray;
    border-radius: 5px;
}

