{% extends "base.html" %}
{% load bootstrap3 %}

{% block body %}
    <div class="col-md-12 primary-heading container-fluid" style="margin-top:-20px">
        <h2>{{ press.general.press_name }} Edit Form
        </h2>
    </div>
        <h4>Change Form Text</h4>
        <div>
            <div class="well well-sm">
                <form method="POST">
                    {% csrf_token %}
                    {% bootstrap_field form.name %}
                    {% bootstrap_field form.intro_text %}
                    {% bootstrap_field form.completion_text %}
                    <button formnovalidate name="change_form" type="submit" class="btn btn-success" name="change_text"><i class="fa fa-plus">&nbsp;</i>Change Text
                    </button>
                </form>
            </div>
        </div>
{% endblock body %}
