{% extends "base.html" %}
{% load bootstrap3 %}

{% block body %}
    <div class="col-md-12 primary-heading container-fluid" style="margin-top:-20px">
        <h2>{{ press.general.press_name }} Edit Form
            <a href="{% url 'manager_forms' form_type %}"
               class="btn  btn-transparent-white" style="position: absolute;right:30px;margin-top:-2px">
                Go back
            </a>
            <a target="_blank"
               href="{% url 'manager_preview_form' form_type review.id %}"
               class="btn  btn-transparent-white"
               style="position: absolute;right:120px;margin-top:-2px">
                Preview form
            </a>
            <form method="POST" style="margin: 0;">
                {% csrf_token %}
                <button type="submit"
                        class="btn btn-round btn-success"
                        style="position: absolute;right:243px;margin-top:-35px;"
                        name="save_form">
                    Save form
                </button>
            </form>
            <a href="{% url 'manager_edit_form_properties' form_type review.id %}"
                    class="btn btn-round btn-success"
                    style="position: absolute;right:350px;margin-top:-35px;"
                    name="edit_form_properties">
                Edit Properties
            </a>
        </h2>
    </div>
    <div class="col-md-12">
        <h4>Current Fields</h4>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Element Name</th>
                <th>Element Type</th>
                <th>Required</th>
                <th>Order</th>
                <th>Width</th>
                <th>Edit</th>
                <th>Delete</th>
                <th colspan="2">Move</th>
            </tr>
            </thead>
            <tbody>
            {% for field in fields %}
                <tr>
                    <td>{{ field.field.element.name }}</td>
                    <td>{{ field.field.element.field_type|capfirst }}</td>
                    <td>{{ field.field.element.required }}</td>
                    <td>{{ field.field.order }}</td>
                    <td>{{ field.field.get_width_display|capfirst }}</td>
                    <td>
                        <a href="{% url 'manager_edit_review_form_element' review.id field.field.id %}">
                            Edit
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'manager_delete_form_element' form_type review.id field.field.id %}">
                            Delete
                        </a>
                    </td>
                    {% ifequal field.above -1 %}
                        <td>
                            <a disabled class="btn btn-default" href="">
                                Up
                            </a>
                        </td>
                    {% else %}
                        <td>
                            <a class="btn btn-default"
                               href="{% url 'manager_reorder_form' form_type review.id field.field.id field.above %}">
                                Up
                            </a>
                        </td>
                    {% endifequal %}
                    {% ifequal field.below -1 %}
                        <td>
                            <a disabled class="btn btn-default" href="">
                                Down
                            </a>
                        </td>
                    {% else %}
                        <td>
                            <a class="btn btn-default"
                               href="{% url 'manager_reorder_form' form_type review.id field.field.id field.below %}">
                                Down
                            </a>
                        </td>
                    {% endifequal %}
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">This form has no elements</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <hr/>
        <h4>Add New Field</h4>
        <div class="well well-sm">
            <form method="POST">
                {% csrf_token %}
                {% bootstrap_form element_form %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-success" name="save_field"><i class="fa fa-plus">&nbsp;</i>Save Field
                </button>
            </form>
        </div>
    </div>
{% endblock body %}
