{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Submit Proposal{% endblock %}

{% block body %}

 <div class="col-md-12">
  <div class="dash-container other-heading container-fluid" style="margin-top:-20px">
         <h2>{% if revise%} Update {%else%}Submit a{%endif%} Proposal {% if revise%}<a href="{% url 'proposal_history_submitted' proposal.id %}"class="btn btn-transparent-white pull-right" style="width:120px">
             History
          </a>{% endif %}</h2>

</div>

   <p>{{core_proposal.intro_text|safe}}</p>
   <hr />
   {% if proposal.status == "accepted" or proposal.status == "declined" %}
   <table class="table table-bordered">
    <thead>
        <tr>
          <th>Decision</th>
        </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ proposal.get_status_display }} </td>
    </tr>
  </tbody>
  </table>

  <br>
  {% endif %}

   {% if viewable%}

 
    <form method="post" class="form" enctype="multipart/form-data">
      {% csrf_token %}     
      <div class="dash-container bottom-space">
        {% if editor %}

      {% if not_readonly %}
           <div class="well" style="overflow:auto">
        {% bootstrap_form default_fields %}
        {% if proposal_form %}
         {% for field in proposal_form %}
            <div class="{% if field.field.widget.attrs.div_class %}{{ field.field.widget.attrs.div_class }}{% else %}dash-container{% endif %}">
            {% if field.field.widget.attrs.is_checkbox %}
              {% if field.errors %}<span class="red">{{ field.errors|join:", " }}</span><br />{% endif %}
              {{ field }} {% if field.field.help_text %}<span class="small">{{ field.field.help_text|safe }}</span>{% endif %}
            {% else %}
                 {% if field.errors %}<span class="red">{{ field.errors|join:", " }}</span>{% endif %}
                 {% bootstrap_field field %}
              {% endif %}
              </div>
          {% endfor %}
         {% endif %}
        </div>

        
      {% buttons %}
 
      <div class="dash-container">
       <a href="{% url 'user_dashboard'%}"class="btn btn-primary pull-left" style="width:120px">
             Go Back
          </a>
          <button name="book" type="submit" class="btn btn-accept pull-right" style="width:120px">
             Save
          </button>
      </div>
      {% endbuttons %}
    </form>
   
  {% else %}
 <div class="well" style="overflow:auto">
   <div class="form-group"><label class="control-label" for="id_title">Title</label><input class="form-control" id="id_title" name="title" placeholder="Title" required="required" title="" type="text" value="{{proposal.title}}" readonly></div>
 <div class="form-group"><label class="control-label" for="id_subtitle">Subtitle</label><input class="form-control" id="id_subtitle" name="subtitle" placeholder="Subtitle" required="required" title="" type="text" value="{{proposal.subtitle}}" readonly></div>
<div class="form-group"><label class="control-label" for="id_author">Author</label><input class="form-control" id="id_author" name="author" placeholder="Author" required="required" title="" type="text" value="test" readonly></div>
  {% if proposal_form %}
          {%for field in proposal_form%}
            <div class="{% if field.field.widget.attrs.div_class %}{{ field.field.widget.attrs.div_class }}{% else %}dash-container{% endif %}">
            {% if field.field.widget.attrs.is_checkbox %}
              {% if field.errors %}<span class="red">{{ field.errors|join:", " }}</span><br />{% endif %}
              {{ field }} &nbsp;{% if field.field.help_text %}{{ field.field.help_text|safe }}{% endif %}
            {% else %}
                 {% if field.errors %}<span class="red">{{ field.errors|join:", " }}</span>{% endif %}
              <label class="control-label" for="id_{{field.name}}">{{field.label}}{% if field.element.required %}*{% endif %}</label><input class="form-control" div_class="dash-container" id="id_{{field.name}}" name="{{field.name}}" placeholder="{{field.label}}" title="help" type="text" value="{{field.value}}" readonly>
              {% endif %}
              </div>
          

           {% endfor %}
      {% endif %}

      {% endif %}



   
    {% endif %}
     <br>
      <br>
   <table class="table table-bordered">
    <thead>
        <tr>
          <th>Owner</th>
        </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ proposal.owner.username }} <sup> <a href="core/email.html" onclick="return popitup('/email/proposal/{{proposal.id}}/user/{{proposal.owner.id}}/','proposal_{{proposal.owner.id}}')"class="fa fa-envelope-o btn btn-xs btn-default"></a></sup></td>
    </tr>
  </tbody>
  </table>

      {% if proposal.requestor %}
         <table class="table table-bordered">
          <thead>
              <tr>
                <th>Contact Editor</th>
              </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{ proposal.requestor.username }} <sup> <a href="core/email.html" onclick="return popitup('/email/proposal/{{proposal.id}}/user/{{proposal.requestor.id}}/','proposal_{{proposal.requestor.id}}')"class="fa fa-envelope-o btn btn-xs btn-default"></a></sup></td>
          </tr>
        </tbody>
        </table>
        {% else %}
          <table class="table table-bordered">
          <thead>
              <tr>
                <th>Contact</th>
              </tr>
          </thead>
          <tbody>
          <tr>
            <td>Primary contact <sup> <a href="core/email.html" onclick="return popitup('/email/primary-contact/{{ proposal.id }}','primary')"class="fa fa-envelope-o btn btn-xs btn-default"></a></sup></td>
          </tr>
        </tbody>
        </table>
    {% endif %}
 
    <div class="dash-container">
<div class="dash-container">
<h3> Notes {% if request.user.profile.is_editor %} <a href="{% url 'submission_notes_add' proposal.id %}" class="btn btn-info btn-round pull-right"> + Add Note</a></h3>
<small><strong>Please note:</strong> These notes are for the proposal author only and will not be viewable by the publisher.</small>{% else %}</h3>
<small>Notes from editor(s).</small>{% endif%}
  </div>
  </div>

    <ul class="chat" id="message-list">
      {% for note in notes %}
        <li class="left clearfix well">
          <span class="chat-img pull-left" style="margin-right:10px">
                <img src="http://placehold.it/65/D358F7/fff&amp;text=&#9998;" alt="Pencil Icon" class="img-circle" />
            </span>
            <div class="chat-body clearfix" style="margin-top:10px">
                <div class="header">
                    <strong class="primary-font">{{ note.user.profile.full_name}}</strong> <small class="pull-right text-muted" style="margin-top:-12px">
                        <span class="glyphicon glyphicon-time" ></span>{{ note.date_submitted|date:"Y-m-d - H:i" }}</small>
                </div>
                {{ note.truncated_content }}
            </div>
            <div class="pull-right" style="margin-top:-15px">
              <a href="{% url 'submission_notes_view' proposal.id note.id %}" class="btn btn-task btn-sm pull-right">View Note</a>
            </div>
        </li>
        <input class="last_message" type="hidden" value="{{ note.pk }}">
        {% empty %}
             <li class="left clearfix well">
          No notes have been added at the moment.
          <br><br>
        </li>
        {% endfor %}
    </ul>
   {% else %}
       <div class="dash-container bottom-space">
    <br>
       <div class="well">
        You do not have permission to view this proposal.
       </div>
    </div>
    {% endif %}
	</div>
{% endblock body %}

{% block js %}
<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
<script type="text/javascript">$("textarea").jqte();</script>
<script language="javascript" type="text/javascript">
<!--
function popitup(url,title) {
    newwindow=window.open(url,title,'height=750,width=600');
    if (window.focus) {newwindow.focus()}
    return false;
}

// -->
</script>
<script language="javascript" type="text/javascript">
$(document).ready(function () {    
       {%for field in default_fields%}
          {% if field.field.required %} 
         var required_text=$('label[for="' + "id_{{field.name}}"+ '"]').html()+" *";
         var current_field = $('label[for="' + "id_{{field.name}}"+ '"]');
         current_field.text(required_text); 
          {% endif %}
       {% endfor %}

    {% if proposal_form %}
        
        {%for field in proposal_form%}
    
          {% if field.field.required %} 
            var required_text=$('label[for="' + "id_{{field.name|safe}}"+ '"]').html()+" *";
            required_text = required_text.replace('&amp;','&');
            var current_field = $('label[for="' + "id_{{field.name|safe}}"+ '"]');
            current_field.text(required_text); 
          {% endif %}

        {% endfor %}

    {% endif %}
  });
</script>
<script type="text/javascript">
$(document).ready(function () { 
    var elems = document.getElementsByTagName('*'), i;
    for (i in elems) {
        if((' ' + elems[i].className + ' ').indexOf(' ' + 'datepicker' + ' ')
                > -1) {        
      $(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' }).val();
        }
    }
});

</script>
{% endblock js %}
